.register {
  background: url("../../../assets/image/signUp.png") center center / cover
    no-repeat;
}

@media (min-width: 1024px) {
  .register {
    background-image: none;
    background: none;
  }
}
