/* Add padding to the right of password inputs to accommodate the eye icon */
input[type="password"] {
  padding-right: 2.5rem; /* Adjust as needed */
}

/* Style for the password input eye icon */
.eyeIconPassword {
  position: absolute;
  right: 1rem; /* Adjust as needed */
  top: 70%; /* Center vertically */
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280; /* Gray color */
}

/* Style for the confirm password input eye icon */
.eyeIconConfirmPassword {
  position: absolute;
  right: 1rem; /* Adjust as needed */
  top: 70%; /* Center vertically */
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280; /* Gray color */
}

/* Media query for large screens */
@media (min-width: 1024px) {
  .eyeIconPassword,
  .eyeIconConfirmPassword {
    right: 1.5rem; /* Adjust as needed */
  }
  .form-section1 {
    padding: 20%;
  }
}
@media (max-width: 1023px) {
  .form-section1 {
    background-image: url("../../../assets/image/signUp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-section1 > * {
    background-color: white;
    padding: 15px;
  }
}
