.mainCont {
  background-image: url("https://res.cloudinary.com/dgde8cwjk/image/upload/v1742037548/TrainStation%20Pictures/homepage_bwncwc.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 55vh;
  height: auto;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 700px) {
  .mainCont {
    min-height: 28rem;
    height: auto;
  }
}
