/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
}

.logo img 


.navigate {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navigate li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px;
  /* margin-left: auto; */
}

.register-button {
  padding: 8px 15px;
  border: 1px solid green;
  cursor: pointer;
  color: green;
  background-color: white;
  border-radius: 5px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
